.alertMessage {
	position: fixed;
	top: -60px;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 700px;
	width: 80%;
	height: 61px;
	border-radius: 5px;
	color: white;
	padding: 20px;
	box-sizing: border-box;
	z-index: 2000;
}
#alertMessage__show {
	animation: drop 2s forwards;
}
@keyframes drop {
	0% {
		transform: translateY(5px);
	}

	100% {
		transform: translateY(61px);
	}
}

.alertMessage__text {
	font-size: 16px;
}
.alertMessage__closeIcon {
	cursor: pointer;
}
