.productCard {
	margin-bottom: 10px;
}
.onSaleLabel,
.outOfStockLabel,
.newArrivalLabel {
	position: relative;
	top: 50px;
	font-size: 20px;
	background-color: white;
	padding-right: 10px;
	padding-left: 10px;
}
.onSaleLabel {
	background-color: #b46a51;
	color: white;
}

.productCard__images img {
	object-fit: contain;
}

.productCard__nameAndPrice {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.productCard__name {
	opacity: 0.5;
}
.productCard__price {
	font-weight: 600;
	margin-bottom: 10px;
}
